/* Custom styles for the attendance page */

/* Container styles */
.container {
    margin-left: 100px; 
    position: relative; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

/* Search input styles */
.form-group {
    margin-bottom: 20px;
}
.long-input {
    width: 400px; /* Adjust the value as needed */
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.input-group {
    border: 1px solid #054e00;
    border-radius: 5px;
}

/* Table styles */
.stud-attendance {
    width: 100%;
}

#attendanceTable {
    width: 100%;
    flex-direction: column;
}

/* Status notification styles */
.status-notification {
    padding: 10px;
    border-radius: 5px;
}

/* Success status styles */
.status-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

/* Error status styles */
.status-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
/*table*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    table thead {
        background-color: #054e00;
        color: white;
    }

    table th, table td {
        padding: 8px;
        text-align: left;
    }

