/* Custom styles for the attendance page */

h1 {
    background-color: forestgreen;
}

/* Container styles */
.container {
    margin-left: 0; /* Set margin-left to 0 to position it at the leftmost */
    position: relative; /* Add position relative */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the left */
}

/* Search input styles */
.form-group {
    margin-bottom: 20px;
}

/* Table styles */
#attendanceTable {
    width: 100%;
}

/* Status notification styles */
.status-notification {
    padding: 10px;
    border-radius: 5px;
}

/* Success status styles */
.status-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

/* Error status styles */
.status-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

