/* custom.css */

/* Example custom styles */
body {
    background-color: #f8f9fa;
    font-family: Poppins, sans-serif;
    overflow: hidden;
}

.container {
    margin-left: 100px;
    padding: 10px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

header, footer {
    margin-left: -105px;
    background-image: url(../images/MWB12.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 110%;
}

.header1 {
    display: flex;
}

    .header1 h1 {
        margin-left: 30px;
        z-index: 5;
    }

.header-overlay {
    position: absolute;
    transform: translateX(-80px);
    top: 0;
    left: 0;
    width: 110%;
    height: 96px;
    background-color: #033600;
    opacity: 0.8;
    z-index: 4;
}

.header2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#school-name {
    width: 80%;
    margin: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0; /* Adjust the top padding according to your needs */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #d4edda !important; /* Add the desired color */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px); /* Adjust the height according to your needs */
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable sidebar */
}

.add-student-button {
    padding-bottom: 20px;
}

/* Nav */

.nav .nav-item .nav-link img.nav-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.nav .nav-item span.nav-ul {
    font-size: 20px;
    color: #000000;
}

span.nav-ul {
    font-size: 20px;
    color: black;
}

/* Terms and Conditions */
#terms-and-conditions li a .nav-ul{
    font-size: 14px;
}


/* Styles for logo */
img.logo {
    max-width: 100px; /* Adjust the maximum width according to your needs */
    height: auto;
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

/* Logo and Title styles */
.logo-title {
    text-align: center;
    margin-bottom: 20px; /* Adjust the spacing between the logo/title and the sidebar links */
}

.logo {
    max-width: 100px; /* Adjust the maximum width according to your needs */
    height: auto;
}

.logo-title h6 {
    margin-top: 0;
    font-size: 18px; /* Adjust the font size of the title */
}
/* Define icon styles */


/* Media query for responsiveness */

@media (max-width: 1800px) {
    .header h1 {
        margin-left: 100px;
    }
    
    .container {
        margin-left: 3%;
    }
}

@media (max-width: 1600px) {
    .container {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .sidebar {
        width: 240px; /* Adjust the sidebar width according to your needs */
        position: fixed; /* Keep sidebar fixed */
    }

    .main-content {
    }
}
