/* custom.css */

/* Example custom styles */
body {
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0; /* Adjust the top padding according to your needs */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #D4F9CC !important; /* Add the desired color */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px); /* Adjust the height according to your needs */
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable sidebar */
}

.add-student-button {
    padding-bottom: 20px;
}

.main-content {
    padding-top: 1rem; /* Adjust the top padding according to your needs */
}

/* Styles for logo */
img.logo {
    max-width: 100px; /* Adjust the maximum width according to your needs */
    height: auto;
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

@media (min-width: 768px) {
    .sidebar {
        width: 240px; /* Adjust the sidebar width according to your needs */
    }

    .main-content {
        margin-left: 240px; /* Same as sidebar width */
    }
}
/* Logo and Title styles */
.logo-title {
    text-align: center;
    margin-bottom: 20px; /* Adjust the spacing between the logo/title and the sidebar links */
}

.logo {
    max-width: 100px; /* Adjust the maximum width according to your needs */
    height: auto;
}

.logo-title h6 {
    margin-top: 0;
    font-size: 18px; /* Adjust the font size of the title */
}
/* Define icon styles */

