.container {
    margin-left: 0; /* Set margin-left to 0 to position it at the leftmost */
    position: relative; /* Add position relative */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the left */
}

.main-content .row {
    justify-content: flex-start;
}
.header {
    background-color: #9FD4A3;
    padding: 20px;
    margin-bottom: 20px;
}
/*card1*/
.custom-card .card {
    background-color: #f8f9fa; /* Change background color */
    border: 2px solid #007bff; /* Change border color */
}

.custom-card .card-body {
    padding: 20px; /* Adjust padding */
}

.custom-card .card-title {
    color: #007bff; /* Change title color */
}

.custom-card .card-text {
    color: #6c757d; /* Change text color */

/**/