﻿.container {
    margin-left: 0; /* Set margin-left to 0 to position it at the leftmost */
    position: relative; /* Add position relative */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the left */
    background-color:aquamarine!important;
    width:100%!important;
}

id-preview-modal {
    display: table-cell;
}

.id-preview-modal img {
    padding: 20px 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    display: center;
    filter: drop-shadow(0px 10px 15px #000000)
}

#lrn-generate-id {
    width: 150px;
}

#full-name-generate-id, #faculty-generate-id {
    width: 300px;
}

#grade-generate-id {
    width: 50px;
}

#section-generate-id {
    width: 170px;
}

#generate-id-column {
    width: 130px;
}

/* Search */

#id-generator-search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-section label {
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    padding: 10px;
    height: 35px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 300px;
}

.search-icon {
    height: 35px;
    margin-left: 5px;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    table thead {
        background-color: #054e00;
        color: white;
    }

    table th, table td {
        padding: 8px;
        text-align: left;
    }

    table td {
        padding: 5px !important;
        vertical-align: middle !important;
    }

        table td button.btn {
            margin: 0 !important;
            font-size: 1rem;
        }

#pagination-controls {
    margin: auto;
    display: flex;
    align-items: center;
}

.pagination-button {
    border: none;
    padding: .25rem 1rem;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
}

#page-info {
    padding: 0 10px;
}


.wrapper {
    display: flex;
    min-height: 100vh; /* Make the wrapper at least 100% of the viewport height */
}

.sidebar {
    width: 350px;
    background-color: #d4f9cc; /* Green color */
    color: #000;
    padding-top: 20px;
    height: 100vh; /* Make the sidebar full height of the viewport */
}

#mwnhs-banner {
    width: 330px;
}

.content {
    flex: 1;
    padding: 20px;
}



@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}
.no-backdrop .modal-backdrop {
    display: none;
}

/* Optional: Change backdrop color or opacity */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity as needed */
}
