#id-generator-search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.search-icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin: 0 5px 0px -4px;
    border: 1px solid black;
    border-radius: 5px;
}

.filter-label {
    margin-top: 10px;
} 

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    height: 35px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 300px;
}

#studentTable {
     width: 100%;
     border-collapse: collapse;
     margin-bottom: 20px;
}

    #studentTable th, #studentTable td {
        padding: 8px;
        text-align: left;
    }

    #studentTable th {
        background-color: #4C844B;
        color: #ffffff;
    }

.filter-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
