body, html, form {
    font-family: Poppins;
    height: 100%;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    width: 100%;
}

.left-pane, .right-pane {
    width: 50%;
    height: 100%;
    position: relative;
}

.left-pane {
    background-image: url('../images/MWB1.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; /* White in hex */
    opacity: 0.4; /* 40% opacity */
}

.left-pane-content {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 80%; /* 80% width */
    margin: 0 auto; /* Center horizontally */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-15%); /* Move upwards by 15% */
}

.logo {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.title {
    font-size: 50px;
    color: #000000; /* Black in hex */
    margin-bottom: 20px;
    line-height: 4rem;
}

.search-container {
    display: flex;
    width: 100%;
    max-width: 550px;
    max-height: 50px;
}

.search-bar {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCCCCC; /* Light gray in hex */
    border-radius: 5px 0 0 5px;
    border-right: none; /* Remove right border */
}

.search-button {
    width: 80px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCCCCC; /* Light gray in hex */
    border-radius: 0 5px 5px 0;
    background-color: #4C844B; /* Green in hex */
    color: #FFFFFF; /* White in hex */
    cursor: pointer;
}

.search-icon {
    height: 25px;
}

.footer-landing {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.footer-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px; /* Add some space between the images and the caption */
}

.footer-logo {
    height: 80px;
}

.footer-caption {
    font-size: 16px;
    font-weight: 400;
    color: #000000; /* Black in hex */
}

.right-pane {
    background-color: #FFFFFF; /* White in hex */
}
