/* Custom styles */
.daterangepicker {
    z-index: 1050; /* Ensure it appears above other elements */
    margin-left: 780px;
    z-index: 1050;
}
.center {
    text-align: center;
    background-color: forestgreen;
}

.left {
    text-align: left;
    background-color: forestgreen;
}

.header {
    background-color: white;
    padding: 10px;
}

.individual {
    background-color: #4C844B;
    padding: 10px;
}

    .individual h4 {
        color: white;
        text-align: center;
    }

h2 {
    background-color: #4C844B;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    padding: 29px 0;
    margin-left: -100px;
}
h3 {
    font-size: 18px;
}

/* Header */

.container {
    margin-left: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    width: 100%;
}

.report-header {
    width: 100%;
}

/* Actions */

.actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-action form {
    display: flex;
}

#report-search {
    width: 300px;
    height: 35px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px 0 0 5px;
    padding: 10px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #054e00;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Add transition for background color */
}

    .search-button .search-icon {
        background-image: url(../images/icons/search-white.png);
        background-size: cover; /* Ensure the image covers the entire div */
        height: 22px; /* Adjust height */
        width: 22px; /* Adjust width */
    }

    .search-button:hover {
        border: 1px solid #4C844B;
        background-color: #FFFFFF;
    }

        .search-button:hover .search-icon {
            background-image: url(../images/icons/search-green.png);
        }

    #actions img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin: 0px 5px;
    }

#actions button {
    border: none;
    background: none;
}

.stud-info {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Report details*/

#report-details {
    width: 100%;
    padding: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 20px;
}

#detailed-data {
    margin: 0 0 10px 0;
}

.styled-table, td, th {
    border: 1px solid black;
    text-align: center;
}

/* Table */

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 70px;
}

h4 {
    margin: 10px 0 10px 15px;
    font-size: 16px;
    font-weight: 600;
}

.fill {
    background-color: #054e00;
    color: #ffffff;
}

#attendanceTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures fixed column widths */
}

    #attendanceTable th, #attendanceTable td {
        border: 1px solid black;
        text-align: center;
        width: 20%; /* Each column gets 20% width for equal distribution */
    }

/* Pagination */

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

    #pagination .page-link {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
    }

        #pagination .page-link:hover {
            background-color: #f1f1f1;
            border-color: #007bff;
        }

#entry-count {
    text-align: center;
    font-size: 14px;
    color: #333;
}


/* Responsive Styles */

@media screen and (max-width: 768px) {
    h2 {
        margin-left: 0;
        font-size: 24px;
        padding: 10px;
        height: auto;
        text-align: center;
    }

    .topnav {
        margin-left: 0;
    }

        .topnav a {
            font-size: 14px;
            padding: 10px 12px;
        }

        .topnav .search-container {
            float: none;
            width: 100%;
        }

        .topnav input[type=text] {
            width: 100%;
            margin: 0;
            padding: 10px;
        }

    #actions {
        float: none;
        text-align: center;
        margin-top: 10px;
    }

        #actions img {
            width: 18px;
            height: 18px;
        }

    table th, table td {
        font-size: 14px;
        padding: 8px;
    }
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
        width: 100%;
    }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;

    }

    h2 {
        font-size: 20px;
        padding: 10px;
        text-align: center;
        margin-left: 0;
    }

    h3 {
        font-size: 16px;
    }

    table th, table td {
        font-size: 12px;
        padding: 6px;
    }
}

@media print {
    body {
        background-color: #ffffff;
    }
    
    body header, .header1, .actions {
        display: none;
    }

}