body, html, form {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* Ensure full width */
}

#form1 {
    background-color: #f8f8f8;
}

.content-wrapper {
    width: 110%;
    transform: translateX(-15px);
}

.banner {
    visibility: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* White with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-logo {
    width: 80px;
    height: 80px;
}

@media (max-width: 800px) {
    .banner {
        position: relative;
        width: 100%; /* Make sure the banner takes the full width */
        height: 100px;
        background-image: url('../images/MWB1.png');
        background-size: cover;
        background-position: center;
    }
}

/* Styles for the container and its contents */
.container {
    width: 80%; /* Width of the container */
    margin: auto; /* Center the container */
    background-color: #FFFFFF; /* Background color */
    padding: 20px; /* Padding around the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow */
    margin-top: 20px; /* Optional: Add some margin at the top */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-3%);
}

    .container h1 {
        font-size: 24px; /* Font size */
        font-weight: 400; /* Font weight */
        margin-bottom: 10px; /* Margin bottom */
    }

#stud-search-res {
    width: 100%; /* Table width */
    border-collapse: collapse; /* Collapse borders */
    margin-bottom: 20px; /* Margin bottom */

    border-radius: 5px;
}

    #stud-search-res th, #stud-search-res td {
        border-bottom: 1px solid #000000; /* Border bottom only */
    }

    #stud-search-res th {
        background-color: #054e00; /* Background color */
        color: #FFFFFF; /* Font color */
        font-size: 16px; /* Font size */
        font-weight: 600; /* Font weight */
        padding: 10px; /* Padding */
        border-top: 1px solid #000000; /* Border top */
    }

    #stud-search-res td {
        font-size: 16px; /* Font size */
        font-weight: 400; /* Font weight */
        padding: 10px; /* Padding */
    }

        /* Adjust column widths to 6:4 ratio */
        #stud-search-res th:nth-child(1),
        #stud-search-res td:nth-child(1) {
            width: 60%;
        }

        #stud-search-res th:nth-child(2),
        #stud-search-res td:nth-child(2) {
            width: 40%;
        }

.close-button {
    background-color: #D40000; /* Background color */
    color: #FFFFFF; /* Font color */
    font-weight: 600; /* Font weight */
    font-size: 16px; /* Font size */
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Border radius */
    cursor: pointer; /* Pointer cursor */
}

    .close-button:hover {
        background-color: #FFFFFF;
        border: 1px solid #D40000;
        color: #D40000;
        transition: background-color 0.2s ease-in-out;
    }
