/* Custom CSS for Student List Application */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Add Student Button */
.add-student-button {
    text-align: right;
    margin-bottom: 20px;

}

    .add-student-button .btn {
        font-size: 1.1em;
        display: block !important;
        color:white;
        background-color:forestgreen;
    }

/* Table Styles */
#studentTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    #studentTable th, #studentTable td {
        padding: 8px;
        text-align: left;
    }

    #studentTable th {
        background-color: green;
        color: white;
    }
/* Modal Styles */
.modal-header {
    background-color: #007bff;
    color: white;
}

    .modal-header .close {
        color: white;
    }

.modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* Form Styles */
form .form-group label {
    font-weight: bold;
}

form .form-group input,
form .form-group select {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 10px;
}

form h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #007bff;
}
